:root{
    --marron:#BCAD86;
    --beige:#ECE4CE;
    --violet:#6D7AB1;
    --vert:#44A33D;
    --gris:rgba(71, 75, 104, 0.404);
}
/************Général****************/
body
{
    font-family: 'Sriracha', sans-serif;
    margin:0; 
    padding:0; 
    background-color:var(--beige);
}

.espace{
    padding: 10px;
}
img{
    width: 30px;
}

/*******Header*********/
header{
    display: flex;
    background-color:var(--marron);
    border: solid var(--vert) 2px;
    color: white;


}

.top
{
    display: flex;
    flex:1;
    text-align: left;
    align-items: center;
}

.centre{
 flex: 1;
 justify-content: center;
}
.titrePage{
    text-align: center;
    font-size: 2em;
  
}
.logo{
    flex: 1;
    padding-top: 10px;
   
}


.logo img{
    width: 80px;
    cursor: pointer;
}

.droite
{
    flex:1;
   justify-content:flex-end;
}
button{
    cursor: pointer
}

.petitBouton button{
    margin: 0.5em;
   width: 50px;
   height: 50px;
   border: white 2px solid;
   background-color: var(--violet);
   border-radius: 5px;

}

.petitBouton button:hover{
    background-color: var(--gris);
}

/*************Formulaire************/
.blocform{
    display: flex;
    flex-direction: column;
    background-color: var(--marron);
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding:7vh;
    margin: 20px;
    color: white;
}

input,select,textarea{
    font-family: 'Sriracha';
    width: 90%;
    padding: 5px 20px;
    margin: 8px 0;
    display: inline-block;
    border: solid var(--violet) 2px;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 300px;
}
textarea{
    resize: none;
}
.inputConnexion input{
    padding: 5px 10px;
    margin: unset;
    min-width: 100px;
}
.form
{
    display: flex;
    justify-content: center;
    padding-bottom: 4em;
}


.colonne
{
    display: flex;
    flex-direction: column;
}
fieldset{
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding: 1em 4em 2em;
    margin: 1em;
    color: white;
    background-color: var(--marron);
}


.bouton{
    display: flex;
    justify-content: center;
    font-family: 'Sriracha';
    border:solid white 2px;
    border-radius: 5px;
    background-color: var(--violet);
    color: white;
    font-size: 0.9em;
    font-weight: bold;
    width: 20%;
    
}

.bouton:hover{
background-color: white;
color: var(--violet);
border-color: var(--violet);
cursor: pointer;
}
.centrer{
    display: flex;
    justify-content: center;
    
}

.ligneArticle{
    display: flex;
    justify-content: center;
}
.ligneArticle input{
    width: 20%;
    min-width:10%;
    padding: 0;

}

/*****************Bloc*******************/
.conteneur{
    display: flex;
    justify-content: center;

}
.bloc{
    display: flex;
    flex-direction: column;
    background-color: var(--marron);
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding:2vh;
    margin: 20px;
}

.horizontal{
    display: flex;
    justify-content: center;
    flex: 5;
}
.grosBouton{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height:250px;
    width: 200px;
    background-color: var(--violet);
    border: white solid 2px;
    margin: 20px;
    border-radius: 20px;
    align-items: center

}

.grosBouton:hover{
    background-color: var(--gris);
}

.picto img{
  width:180px;
}

.nomPicto{
    color: white;
    font-size: 1.5em;  
}

/******************Menu Caisse*****************/

.boutonMenuCaisse{
    cursor: pointer;
    display: flex;
    height:100px;
    width: 500px;
    background-color: var(--violet);
    border: white solid 2px;
    color: white;
    margin: 20px;
    border-radius: 20px;
    align-items: center

}
.boutonMenuCaisse a{
    color: white;
    text-decoration: none;
}
.boutonMenuCaisse img{
    width: 70px;
    margin: 10px;
}

.boutonMenuCaisse p{
    font-size: 1.5em;
}

.boutonMenuCaisse:hover{
    background-color: var(--gris);
}

/**********************Caisse*************************/
.blocCaisse{
    display: flex;
    background-color: var(--marron);
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding:2vh;
    margin: 20px;
}

.colonneCaisse{
    display: flex;
    flex-direction: column;
    flex: 7;
    width: 70%;
}
.ligneCaisse{
    display: flex;
    padding-bottom: 3vh;
}

.boutonCaisse{
    width: 70px;
    height: 70px;
    border: white 4px solid;
    background-color: var(--violet);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-left: 4vh;
    cursor: pointer;

}

.boutonCaisse:hover{
    background-color: var(--gris);
}


.boutonCaisse img{
    width: 90%;
}
.blocCaisse .contenu{
    background-color: var(--beige);
}
.blocCaisse .colonne{
    width: 20%;
    margin-top: 5vh;
    align-items: center;
}
.blocCaisseClient{
    display: flex;
    width: 35%;
    background-color: var(--marron);
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding:1vh;
    margin: 20px;
}



.blocCaisseClient select{
    font-family: 'Sriracha';
    width: 30%;
    padding: 0;
    display: inline-block;
    border: solid var(--violet) 2px;
    border-radius: 5px;
    box-sizing: border-box;
    min-width: 200px;
}

.blocCaisseClient label{
    width:15%;
    margin-top: 7px;
}

.boutonCaisseClient{
   width: 30px;
   height: 30px;
   border: white 2px solid;
   background-color: var(--violet);
   border-radius: 5px;
   display: flex;
   justify-content: center;
   margin-top: 5px;
   margin-left: 5px;
   cursor: pointer;
}

.boutonCaisseClient:hover{
    background-color: var(--gris);
}

.blocCaissePrix{
width: 20%;
border: black 3px solid;
background-color: var(--beige);
border-radius: 10px;
padding: 8px;

}
.traitNoir{
    width: 90%;
    border: solid black 6px;
    border-radius: 4px;
    margin: 4px;
    opacity: 0.7;
}

/******************Paiement******************/
.boutonPaiement{
    width: 30px;
    height: 30px;
    border: white 2px solid;
    background-color: var(--violet);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}
.boutonPaiement:hover{
    background-color: var(--gris);
}
.ligneCaisse select[name="moyenPaiement"]{
    width: 60%;
    min-width: 80px;
}
.blocPaiement{
    display: flex;
    justify-content: center;

}

/*********************EnvoiMail***********************/
.blocMail{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--marron);
    padding: 5vh;
    border: white 2px solid;
    border-radius: 5px;
}

.blocMail .bouton{
    width: 50%;
}

.blocMail input{
    background-color: var(--beige);
    
}

/***************Recherche Multi*****************/
.blocRecherche{
    display: flex;
    background-color: var(--marron);
    flex-direction: column;
    align-items: center;
    width: 90%;
    border: var(--vert) solid 2px;
    border-radius: 20px;
    padding:2vh;
    margin: 20px;
    justify-content: space-around;

}
.ligneRecherche{
    display: flex;
}

.ligneRecherche input,label,select{
    width: 90%;
    margin:0 10px;
}




/*****************Tableau******************/
.conteneurTableau{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 2vh;
}
.tableau {
    display: flex;
    flex-direction: column;
    padding: 2vh;
}
.ligneTableau{
    display: flex;
   
}
.enTete{
   background-color: var(--violet);
    color: white;
    margin-top:10px ;
   
}
.contenu{
    background-color: var(--marron);
}

.enTete,.contenu{
    border: white solid 2px;
    flex: 1;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.miniBouton{
    display: flex;
    margin-right: 10px;
}

.miniBouton button{
   width: 40px;
   height: 40px;
   border: white 2px solid;
   background-color: var(--violet);
   border-radius: 5px;
   padding: 2px;

}
.miniBouton button:hover{
    background-color: var(--gris);
}

/*****************Menu Deroulant*****************/
#menuDeroulant{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
}


.menu{
    font-family: 'Sriracha';
    background-color: var(--violet);
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: white solid 2px;
    border-radius: 10px;
    text-align: left;
    font-size: 1.5em;
    transition: 0.4s;
}
.active, .menu:hover{
background-color: var(--gris);
}

.sousMenu{
    padding: 0 18px;
    display: none;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    border-radius: 10px;
    margin: 0 10px;
  
    
}

.sousMenu a{
    text-decoration: none;
    color: var(--violet);
    margin: 5px;
    padding-bottom: 5px;
}

.sousMenu a:hover{
    text-decoration: underline;
}

.traitViolet{
    width: 40vw;
    border: solid var(--violet) 3px;
    border-radius: 5px;
    margin: 5px;

}

.contenuSousMenu{
    display: flex;
    margin: 5px;
}
.contenuSousMenu img{
    width: 30px;
    height: 30px;
    padding: 5px;
}


/******Footer******/
footer{
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:var(--marron);
    border: solid var(--vert) 2px;
    color: white;
}

footer p{
    font-size: 1.3em;
}
@media screen and (min-height:700px)
{
    footer{
        position: fixed;
        bottom: 0;
        left: 0;
    }
}
